CONFIG_ESP_HOSTED_CP_TARGET_ESP32C5=y
# CONFIG_ESP_HOSTED_CP_TARGET_ESP32C6 is not set
CONFIG_ESP_HOSTED_IDF_SLAVE_TARGET="esp32c5"
# CONFIG_SLAVE_IDF_TARGET_ESP32C6 is not set
CONFIG_SLAVE_IDF_TARGET_ESP32C5=y
